body {
    font-family: 'Montserrat', sans-serif;
    
}

h1 {
    font-size: 100px !important;
}

.imagen-logo {
    width: 200px;
    
}

.nav-link {
    font-size: 30px !important;
}

.nav-link:hover {
    color: blueviolet !important;
}

.active {
    color: rgb(170, 131, 206) !important;
}

.silueta {
    width: 550px !important;
    height: 600px !important;
}

.btn {
    background-color: blueviolet !important;
    border-color: blueviolet !important;
}