<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARA DIGITALART</title>

    <link rel="stylesheet" href="../estilos/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <header>

        <div class="container-fluid ">
            <div class="row">
                <div class="col bg-dark p-5">
                    <h1 class="text-center text-light ms-5">ARA DIGITALART</h1>
                </div>
                
            </div>
        </div>
           
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                          <img class="navbar-brand" src="../img/art-and-design.png" width="150" height="150">
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                              <a class="nav-link text-light" aria-current="page" href="../../index.html">INICIO</a>
                              <a class="nav-link text-light" href="src/views/sobre_mi.html">SOBRE MI</a>
                              <a class="nav-link active" href="pinturas.html"><u>PINTURAS</u></a>
                              <a class="nav-link text-light" href="diseno_3d.html">DISEÑO 3D</a>
                              <a class="nav-link text-light" href="contacto.html">CONTACTO</a>
                        
                            </div>
                            
                          </div>
                        </div>
                      </nav>
                </div>
            </div>
            
        </div>

    </header>

<br>
<br>

<main>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="/src/img/PROYECTO FINAL.png" class="card-img-top" alt="...">
                        <div class="card-body bg-dark text-light">
                          <h5 class="card-title">Crystallina</h5>
                          <p class="card-text">Crystallina es un retrato de fantasía realizado en el curso online de domestika e impartido por la gran Bearbrickjia.</p>
                        </div>
                        <div class="card-footer">
                          <small class="text-body-secondary">Hecho con Huion tablet y Clip Studio Paint</small>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="/src/img/abejita.png" class="card-img-top" alt="...">
                        <div class="card-body bg-dark text-light">
                          <h5 class="card-title">Reina de las abejas</h5>
                          <p class="card-text">Estudio sobre una de mis artistas favoritas, Coffeekats.</p>
                        </div>
                        <div class="card-footer">
                          <small class="text-body-secondary">Hecho con Huion tablet y Clip Studio Paint</small>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="/src/img/Captura.JPG" class="card-img-top" alt="...">
                        <div class="card-body bg-dark text-light">
                          <h5 class="card-title">Lago de fantasía</h5>
                          <p class="card-text">En este lago, la diosa del agua controla cada visitante para proteger todo el ecosistema.</p>
                        </div>
                        <div class="card-footer">
                          <small class="text-body-secondary">Hecho con Huion tablet y Clip Studio Paint</small>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                          <img src="/src/img/Captura gemmeta.JPG" class="card-img-top" alt="...">
                          <div class="card-body bg-dark text-light">
                            <h5 class="card-title">Retrato a la acuarela</h5>
                            <p class="card-text">Este retrato en acuarela digital es parte de una comisión.</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-body-secondary">Hecho con Huion tablet y Clip Studio Paint</small>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <img src="/src/img/EMPTY.png" class="card-img-top" alt="...">
                          <div class="card-body bg-dark text-light">
                            <h5 class="card-title">Vacío</h5>
                            <p class="card-text">Ilustración del concurso gristober 2022. Simboliza el vacío que una persona puede llegar a sentir.</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-body-secondary">Hecho con Huion tablet y Clip Studio Paint</small>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <img src="/src/img/ifrit editado.png" class="card-img-top" alt="...">
                          <div class="card-body bg-dark text-light">
                            <h5 class="card-title">Ifrit</h5>
                            <p class="card-text">Retrato de fantasía sobre Ifrit de Final Fantasy XV</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-body-secondary">Hecho con Huion tablet y Clip Studio Paint</small>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <img src="/src/img/Illustration chica asia oro kelogsloops.png" class="card-img-top" alt="...">
                          <div class="card-body bg-dark text-light">
                            <h5 class="card-title">Asia</h5>
                            <p class="card-text">Ilustración inspirada en el trabajo de kelogsloops.</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-body-secondary">Hecho con Huion tablet y Clip Studio Paint</small>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <img src="/src/img/Illustration dtiys samdoesart color.png" class="card-img-top" alt="...">
                          <div class="card-body bg-dark text-light">
                            <h5 class="card-title">Gemelas</h5>
                            <p class="card-text">Concurso de ilustración de Samdoesart sobre unas gemelas.</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-body-secondary">Hecho con Huion tablet y Clip Studio Paint</small>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <img src="/src/img/Illustration final sin fndo.png" class="card-img-top" alt="...">
                          <div class="card-body bg-dark text-light">
                            <h5 class="card-title">Zorro Galáctico</h5>
                            <p class="card-text">Ilustración de fantasía sobre un zorro astronauta.</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-body-secondary">Hecho con Huion tablet y Clip Studio Paint</small>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <img src="/src/img/STARLIGHT.png" class="card-img-top" alt="...">
                          <div class="card-body bg-dark text-light">
                            <h5 class="card-title">Starlight</h5>
                            <p class="card-text">Ilustración de fantasía sobre el origen de la luz en el universo.</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-body-secondary">Hecho con Huion tablet y Clip Studio Paint</small>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <img src="/src/img/WhatsApp Image 2022-10-08 at 19.35.01.jpeg" class="card-img-top" alt="...">
                          <div class="card-body bg-dark text-light">
                            <h5 class="card-title">Druida del cuervo</h5>
                            <p class="card-text">Ilustración de fantasía sobre una druida con poderes en el clan del cuervo. Enjoyada con jade y oro.</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-body-secondary">Hecho con Huion tablet y Clip Studio Paint</small>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <img src="/src/img/x ray.png" class="card-img-top" alt="...">
                          <div class="card-body bg-dark text-light">
                            <h5 class="card-title">Rayos X</h5>
                            <p class="card-text">Ilustración de fantasía realizada para un concurso de ilustración, Inktober 2022.</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-body-secondary">Hecho con Huion tablet y Clip Studio Paint</small>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
</main>

<br>
<br>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col bg-dark text-light">
                    <p class="text-center">Fundación Ibercaja - 2024</p>
                    <p class="text-center"><strong>Contacto:</strong> ara.digitalart@gmail.com</p>
                    <p class="text-center">ARA DIGITALART &COPY;</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>