<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARA DIGITALART</title>

    <link rel="stylesheet" href="../estilos/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


</head>
<body>
    <header>

        <div class="container-fluid ">
            <div class="row">
                <div class="col bg-dark p-5">
                    <h1 class="text-center text-light ms-5">ARA DIGITALART</h1>
                </div>
                
            </div>
        </div>
           
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                          <img class="navbar-brand" src="../img/art-and-design.png" width="150" height="150">
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                              <a class="nav-link active text-light" aria-current="page" href="../../index.html">INICIO</a>
                              <a class="nav-link text-light" href="src/views/sobre_mi.html"><u>SOBRE MI</u></a>
                              <a class="nav-link text-light" href="src/views/pinturas.html">PINTURAS</a>
                              <a class="nav-link text-light" href="src/views/diseño_3d.html">DISEÑO 3D</a>
                              <a class="nav-link text-light" href="src/views/contacto.html">CONTACTO</a>
                        
                            </div>
                            
                          </div>
                        </div>
                      </nav>
                </div>
            </div>
            
        </div>

    </header>

    <br>
    <br>

    <main>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">ANDREA ROLDÁN AGÜERO</h2>
                </div>
            </div>
            <div class="row rounded-2 bg-dark">
                <div class="col">
                    <img src="../img/classic-portrait-silhouette-woman.jpg" alt="" class="silueta p-3 mx-auto">
                </div>
                <div class="col">
                    <p class="text-light pt-4">Soy una entusiasta de la pintura digital, el diseño 3D y la pintura tradicional, aprendí de forma autodidacta en 2019 a causa de una enfermedad rara, llamada Síndrome de Südeck. 
                    Esta enfermedad me hizo adquirir este hobby para poder salir de la rutina en la que me encontraba en ese momento. Los programas que utilizo para diseñar, son Clip Studio Paint y Blender
                    además de una tableta huion kamvas pro12, en medios tradicionales uso acuarelas, lápices de colores y rotuladores de alcohol.
                    </p>
                    <p class="text-light pt-4">Actualmente resido en Zaragoza, pero soy de Barcelona. Si quieres ver mis redes sociales, en la página Inicio puedes acceder a mi Instagram, linkedin, etc... y si te quieres poner 
                    en contacto conmigo, deja tu mensaje en el formulario de la página Contacto. Navega por todo mi portfolio y puede que encuentres la obra que más te guste o la que más te represente.
                    </p>
                </div>
            </div>
        </div>

    </main>

    <br>
    <br>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col bg-dark text-light">
                    <p class="text-center">Fundación Ibercaja - 2024</p>
                    <p class="text-center"><strong>Contacto:</strong> ara.digitalart@gmail.com</p>
                    <p class="text-center">ARA DIGITALART &COPY;</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>